@import 'themes/forest/variables';
//@import 'themes/spring/variables';
//@import 'themes/water-garden/variables';

// default theme
@import 'default/default';
// forest theme
@import 'themes/forest/forest';