/* water-garden theme */
$white: #fff;
$global-color: #004445;
$global-hover-color: #021c1e;
$categories-background: #2c7873;
$footer-background: #6fb98f;
$footer-link-color: $white;
$footer-color: $white;