/* forest theme */
$white: #fff;
$global-color: #486b00;
$global-hover-color: #2e4600;
$categories-background: #a2c523;
$footer-background: #7d4427;
$footer-link-color: $white;
$footer-color: $white;

$theme-fonts: "https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i,900,900i|Rammetto+One&subset=latin-ext"!default;

$body-font-family: "Raleway",sans-serif!default;
$module-head-font-family: "Rammetto One"!default;
$gutter: 20px;
$container-width: 1560px;